@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color:blue;
}
h1#principal {
    background-color:blueviolet;
    color:white;
    text-align: center;
}
h1.aprendendo {
    background-color: blueviolet;
    color: blanchedalmond;
    text-align: center;
}
h2 {
    color:blueviolet;
}