@charset "UTF-8";

body {
    background-color: black;
}
h1 {
    color: white; font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {color: white; font-family: Georgia, 'Times New Roman', Times, serif;
}
p {color: white; font-family: Georgia, 'Times New Roman', Times, serif;
}